.Quote {
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 5px;
    margin: 10px 0;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
}
.Buttons-Box {
    position: absolute;
    right: 5px;
    top: 5px;
}
.Quote-Icon {
    color: #d5a6b1;
    font-size: 25px;
    padding: 4px;
}
.Text {
    margin: 0;
    padding: 0 85px 0 0;
    font-size: 18px;
    color: rgba(0,0,0,0.6);

}
.Author {
    text-align: right;
    margin: 0;
    padding: 20px 100px 0 0;
    color: rgba(0,0,0,0.4);
    font-style: italic;
}