.Nav-Categories {
    position: fixed;
}

.Nav-Categories ul {
    list-style: none;
}

.Nav-Categories li {
    padding: 5px;
    font-size: 20px;
    text-transform: uppercase;
}
.Nav-Categories a {
    color: #d5a6b1;

}