.Quote-Form {

}
.Quote-Form form {
    display: flex;
    flex-direction: column;
}
.Quote-Form h4 {
    text-transform: uppercase;
    color: #d5a6b1;
    font-size: 30px;
}
.Quote-Form label {
    color: rgba(0,0,0,0.5);
    text-transform: uppercase;
}
.Input {
    margin: 5px 0 20px;
    font-size: 18px;
}
.Quote-Form button {
    margin: 20px 0;
    align-self: center;
    background: #d5a6b1;
    padding: 37px 30px;
    border: none;
    border-radius: 50%;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
}