.Nav-Bar {
    background: #d5a6b1;
}
.Nav-Box {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.Logo {
    text-transform: uppercase;
    font-size: 40px;
    color: white;
    margin: 0;

}
.Nav-Bar ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: center;
    margin: 0;
    padding: 0;
}
.Nav-Bar li {
    margin: 0;
    padding: 10px 15px;
    font-size: 20px;
    text-transform: uppercase;
    /*border: 1px solid rgba(255,155,155,0.8);*/
    /*border-radius: 5px;*/
}
.Nav-Bar a {
    color: #fff;
    text-decoration: underline dotted #fff;

}