.Quotes {
    display: flex;
    flex-direction: column;
}
.Quotes h3 {
    text-transform: uppercase;
    color: #d5a6b1;
    font-size: 30px;
    margin: 0;
    padding: 17px 0 12px 0;
    font-weight: normal;
}